@media (max-width: 1024px) {

  // SIDEBAR--------------------------------------------------------------

.sidebar {
  display: none;
}

.sidebar--mob{
  display: block;
}

.sidebar__btn-wrap--mob {
  display: flex;
}

.sidebar__btn--mob{
  display: block;
}

.page {
  padding-left: 0;
}

// HEADER--------------------------------------------------------------

.header {
  width: 100%;
  display: flex;
  height: 33px;
}

.header__section {
  align-items: center;
  height: 100%;
  width: 100%;
}

.header__numbers-phone {
  display: none;
}


.header__uds {
  display: none;
}

.header-wrap--left {
  justify-content: flex-start;
}

.header-wrap--right {
  margin-left: 0px;
  justify-content: flex-end;

}

.logo-bnb {
  min-width: 107px;
  min-height: 30px;
}

.header__ddd {
  display: none;
}

.header__btn {
  display: none;
}

.header__menu {
  display: none;
}

.services-navigation {
  width: 100%;
}

.delivery {
  background-position: 70% 50%;
}


// FOOTER-------------------------------------------------------------

.footer-wrap {
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-wrap__item {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;

  &:nth-child(4){
    width: 100%;
  }
}

.footer-text {
  justify-content: center;
  width: 100%;
  text-align: center;
}

}

@media (max-width: 960px) {

.footer__numbers-phone {
  text-align: center;
}

.service__name {
  font-size: 8vw;
  margin-top: 30px;
  margin-bottom: 20px;
}

.service__description {
  font-size: 14px;
  margin-bottom: 20px;
}

.service__schedule {
  margin-bottom: 10px;
}

.schedule__btn-wrap {
  display: block;
  width: 100%;
}


.home-slider__btns {
  margin-top: 40px;
}

.services-navigation {
  bottom: 0;
  height: 20vw;
}

.services-menu {
  display: none;
  

  &--mob {
    display: flex;
    height: 10vw;
    justify-content: center;
    align-items: center;
  }
}

.services-menu__item {
  display: none;
}


.background-bullet {
  display: flex;
  width: 15px;
  height: 15px;
  background: #ffff;
  border-radius: 50%;
  padding-top: 0;
  margin-right: 10px;
  &::before {
    content: "";
  }
}

.halls {
  padding: 50px 0;
}

.halls-tabs {
  flex-direction: column;
}

.halls-tabs__tab {
  width: 100%;
  height: 167px;
  padding: 20px;
  margin-bottom: 20px;
}

.halls-menu{
  font-size: 12.5px;

  &__item {
    margin-right: 15px;
  }
}

.hall-name {
  font-size: 14px;
}

.hall-description {
  font-size: 12px;
  font-weight: 400;
}

.request-call {
  margin-top: 20px;
}

.under-footer__wrap {
  flex-direction: column;
  margin-top: 20px;
}

.under-footer__link {
  margin-bottom: 20px;
  margin-left: 0;
}

.wrap--title {
  font-size: 20px;
  justify-content: space-between;

}

.events {
  display: none;
  padding: 50px 0;
}

.events--mob {
  display: block;
}

.delivery {
  background-position: 70% 50%;
  padding: 50px 0;
}

.delivery-description {
  font-size: 14px;
  margin-right: 0px;
}

.photo-reports {
  padding: 50px 0;
}

.photo-reports__btn {
  display: none;
}

.photo-reports-full {
  display: none;
}

.photo-reports__slider {
  display: block;
}

.btn--yellow--mob{
  display: flex;
  justify-content: center;
}



.btn--grey {
  margin-left: 0;
  margin-top: 20px;
}


}

@media (max-width: 413px) {
.halls-menu {
  width: 100%;
  flex-wrap: wrap;
}

.halls-menu__point {
  display: none;
}

.halls-menu__item {
  margin-right: 10px;
  border: 2px solid #e3bf77;
  border-radius: 20px;
  padding: 5px;
  opacity: 0.7;
  transition: 0.2s;

  &--active {
    opacity: 1;
    background: #e3bf77;
    color: #ffff;
    transition: 0.2s;
  }
}
}
