@charset "UTF-8";

html,
body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
}

.sidebar--mob {
  display: none;
  position: absolute;
  width: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.426);
  overflow: hidden;
  transition: all 0.4s ease 0s;
  z-index: 3;
  font: inherit;
}

.sidebar--mob--active {
  width: 100%;
}

.sidebar-wrap--mob {
  width: 305px;
  height: 100%;
  background: white;
  padding: 80px 15px 30px;
  transition: all 0.3s ease 0s;
}

.sidebar-menu--mob {
  border-bottom: 2px solid #00000012;
  padding: 10px 0;
}

.sidebar-menu__item--mob {
  display: block;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  z-index: 4;
}

.sidebar-menu__contacts--mob {
  padding: 20px 0;
  border-bottom: 2px solid #00000012;
}

.sidebar__btn-reserve--mob {
  width: 177px;
  margin-top: 20px;
}

.sidebar-menu__link--mob {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.sidebar-menu__link-uds--mob {
  background: url("../img/icons/sidebar-mob/uds-black.svg") no-repeat;
  width: 76px;
  height: 26px;
}

.sidebar-menu__link-d3--mob {
  background: url("../img/icons/sidebar-mob/d3-black.svg") no-repeat;
  width: 35px;
  height: 19px;
}

.sidebar__btn-wrap--mob {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25px;
  width: 50px;
  height: 60px;
  cursor: pointer;
  z-index: 3;
}

.sidebar__btn--mob {
  display: flex;
  width: 20px;
  height: 2px;
  position: absolute;
  background: #ffffff;
  border-radius: 11px;
  transform: 1s linear;
  transition: all 0.3s ease 0s;
}

.sidebar__btn--mob:after {
  content: " ";
  bottom: 7px;
  width: 20px;
  height: 2px;
  position: absolute;
  background: #ffffff;
  border-radius: 11px;
  transition: all 0.3s ease 0s;
}

.sidebar__btn--mob:before {
  content: " ";
  width: 20px;
  height: 2px;
  top: 7px;
  position: absolute;
  background: #ffffff;
  border-radius: 11px;
  transition: all 0.3s ease 0s;
}

.sidebar__btn--mob--active {
  transition: all 0.3s ease 0s;
  background: unset;
}

.sidebar__btn--mob--active:after {
  transform: rotate(45deg);
  background-color: #e3bf77;
  bottom: 0;
}

.sidebar__btn--mob--active::before {
  transform: rotate(-45deg);
  background-color: #e3bf77;
  top: 0;
}

.sidebar {
  width: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.2s ease-out;
  box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.07);
  z-index: 3;
}

.sidebar:hover {
  width: 300px;
}

.sidebar:hover:hover .sidebar-menu__btn-name {
  opacity: 1;
}

.sidebar:hover:hover .sidebar-social__link-name {
  opacity: 1;
}

.sidebar-menu__item {
  width: 300px;
  height: 100px;
  border-bottom: 2px solid #0001;
}

.sidebar-menu__item:hover {
  background: #e3bf77;
  border-bottom: none;
}

.sidebar-menu__btn-name {
  opacity: 0;
  transition: 0.2s;
}

.sidebar-menu__btn {
  width: 300px;
  height: 100px;
  padding-left: 100px;
  line-height: 19.5px;
  font-size: 18px;
  font-weight: 600;
  color: #454545;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-menu__btn:hover {
  color: #ffffff;
}

.sidebar-menu__btn--rest {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 45 33" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M41.258 8.122l-.028 21.831a2.77 2.77 0 01-.556 1.667 2.785 2.785 0 01-2.577 1.097 2.793 2.793 0 01-2.443-2.77l.035-27.675A1.783 1.783 0 0136.934.556a1.783 1.783 0 012.02.646l.061.083a11.51 11.51 0 012.243 6.837zm-3.812-6.007c-.115.038-.116.126-.116.16l-.022 17.477 2.295.003.015-11.635a9.864 9.864 0 00-1.923-5.861l-.062-.084c-.014-.02-.046-.062-.106-.07a.186.186 0 00-.081.01zm.995 28.982a1.148 1.148 0 001.149-1.146l.01-8.555-2.294-.003-.011 8.555c0 .633.513 1.149 1.146 1.15zM9.461 17.755c0-6.854 5.576-12.43 12.43-12.43 6.855 0 12.43 5.576 12.43 12.43s-5.575 12.43-12.43 12.43c-6.854 0-12.43-5.576-12.43-12.43zm1.64 0c0 5.95 4.84 10.79 10.79 10.79 5.95 0 10.79-4.84 10.79-10.79 0-5.95-4.84-10.79-10.79-10.79-5.95 0-10.79 4.84-10.79 10.79zM9.155 1.01a.82.82 0 00-.821.82l-.01 6.121a1.954 1.954 0 01-1.608 1.927l-.548-.001.012-8.051a.82.82 0 00-1.64-.002l-.012 8.05h-.549a1.954 1.954 0 01-1.602-1.932l.01-6.122A.82.82 0 00.744 1.82L.736 7.94a3.585 3.585 0 002.322 3.374L2.449 29.48v.006c-.02.776.267 1.51.808 2.066a2.833 2.833 0 002.042.864h.015a2.83 2.83 0 002.052-.865c.544-.56.83-1.297.807-2.076l-.54-18.153a3.585 3.585 0 002.332-3.368l.01-6.121a.82.82 0 00-.82-.822zM6.534 29.524c.01.332-.112.645-.344.883-.231.238-.54.37-.872.369h-.016c-.33 0-.639-.131-.869-.368a1.206 1.206 0 01-.344-.877l.604-18.015.652.001h.001l.652.001.536 18.006zm21.533-11.94a6.2 6.2 0 11-12.4 0 6.2 6.2 0 0112.4 0zm1.8 0a8 8 0 11-16 0 8 8 0 0116 0z" />      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--rest:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 45 33" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.258 8.122l-.028 21.831a2.77 2.77 0 01-.556 1.667 2.785 2.785 0 01-2.577 1.097 2.793 2.793 0 01-2.443-2.77l.035-27.675A1.783 1.783 0 0136.934.556a1.783 1.783 0 012.02.646l.061.083a11.51 11.51 0 012.243 6.837zm-3.812-6.007c-.115.038-.116.126-.116.16l-.022 17.477 2.295.003.015-11.635a9.864 9.864 0 00-1.923-5.861l-.062-.084c-.014-.02-.046-.062-.106-.07a.186.186 0 00-.081.01zm.995 28.982a1.148 1.148 0 001.149-1.146l.01-8.555-2.294-.003-.011 8.555c0 .633.513 1.149 1.146 1.15zM9.461 17.755c0-6.854 5.576-12.43 12.43-12.43 6.855 0 12.43 5.576 12.43 12.43s-5.575 12.43-12.43 12.43c-6.854 0-12.43-5.576-12.43-12.43zm1.64 0c0 5.95 4.84 10.79 10.79 10.79 5.95 0 10.79-4.84 10.79-10.79 0-5.95-4.84-10.79-10.79-10.79-5.95 0-10.79 4.84-10.79 10.79zM9.155 1.01a.82.82 0 00-.821.82l-.01 6.121a1.954 1.954 0 01-1.608 1.927l-.548-.001.012-8.051a.82.82 0 00-1.64-.002l-.012 8.05h-.549a1.954 1.954 0 01-1.602-1.932l.01-6.122A.82.82 0 00.744 1.82L.736 7.94a3.585 3.585 0 002.322 3.374L2.449 29.48v.006c-.02.776.267 1.51.808 2.066a2.833 2.833 0 002.042.864h.015a2.83 2.83 0 002.052-.865c.544-.56.83-1.297.807-2.076l-.54-18.153a3.585 3.585 0 002.332-3.368l.01-6.121a.82.82 0 00-.82-.822zM6.534 29.524c.01.332-.112.645-.344.883-.231.238-.54.37-.872.369h-.016c-.33 0-.639-.131-.869-.368a1.206 1.206 0 01-.344-.877l.604-18.015.652.001h.001l.652.001.536 18.006zm21.533-11.94a6.2 6.2 0 11-12.4 0 6.2 6.2 0 0112.4 0zm1.8 0a8 8 0 11-16 0 8 8 0 0116 0z" />        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--mic {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 27 32" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path d="M1.108 29.625l2.128 2.13a1.017 1.017 0 001.446.006 1.034 1.034 0 00.008-1.457l-2.13-2.13c-.763-.762-.642-2.17.262-3.075L4.6 23.322l.471.471a1.024 1.024 0 001.375.07L19.16 13.478a6.676 6.676 0 005.281-1.946 6.676 6.676 0 001.969-4.752c0-1.795-.7-3.482-1.969-4.752A6.676 6.676 0 0019.69.06a6.677 6.677 0 00-4.752 1.968 6.677 6.677 0 00-1.946 5.282L2.608 20.025a1.026 1.026 0 00.07 1.374l.47.472-1.777 1.777c-1.72 1.72-1.838 4.401-.263 5.977zM18.412 8.059c-1.982-1.983-2.53-4.066-2.024-4.578l.001-.002a4.638 4.638 0 013.301-1.367c1.247 0 2.42.486 3.301 1.367A4.638 4.638 0 0124.36 6.78c0 1.247-.486 2.42-1.368 3.301-.508.51-2.594-.038-4.579-2.022zm-3.385-1.084c.466.851 1.116 1.716 1.934 2.534.82.82 1.684 1.468 2.536 1.935-.94-.163-2.238-.493-3.108-1.363-.837-.837-1.2-2.166-1.362-3.106zM4.784 20.605L13.656 9.74a6.732 6.732 0 003.073 3.074L5.867 21.686l-1.083-1.082z"/>      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--mic:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 27 32" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path d="M1.108 29.625l2.128 2.13a1.017 1.017 0 001.446.006 1.034 1.034 0 00.008-1.457l-2.13-2.13c-.763-.762-.642-2.17.262-3.075L4.6 23.322l.471.471a1.024 1.024 0 001.375.07L19.16 13.478a6.676 6.676 0 005.281-1.946 6.676 6.676 0 001.969-4.752c0-1.795-.7-3.482-1.969-4.752A6.676 6.676 0 0019.69.06a6.677 6.677 0 00-4.752 1.968 6.677 6.677 0 00-1.946 5.282L2.608 20.025a1.026 1.026 0 00.07 1.374l.47.472-1.777 1.777c-1.72 1.72-1.838 4.401-.263 5.977zM18.412 8.059c-1.982-1.983-2.53-4.066-2.024-4.578l.001-.002a4.638 4.638 0 013.301-1.367c1.247 0 2.42.486 3.301 1.367A4.638 4.638 0 0124.36 6.78c0 1.247-.486 2.42-1.368 3.301-.508.51-2.594-.038-4.579-2.022zm-3.385-1.084c.466.851 1.116 1.716 1.934 2.534.82.82 1.684 1.468 2.536 1.935-.94-.163-2.238-.493-3.108-1.363-.837-.837-1.2-2.166-1.362-3.106zM4.784 20.605L13.656 9.74a6.732 6.732 0 003.073 3.074L5.867 21.686l-1.083-1.082z"/>        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--bear {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 32 32" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.334 13.875h3.979a4.067 4.067 0 014.062 4.063A4.067 4.067 0 0127.312 22h-1.937v2.13a4.669 4.669 0 011.25 3.183A4.693 4.693 0 0121.937 32h-12.5a4.693 4.693 0 01-4.687-4.688c0-1.227.475-2.345 1.25-3.182V22H4.062A4.067 4.067 0 010 17.937a4.067 4.067 0 014.063-4.062H8.04a8.755 8.755 0 01-.833-6.417 4.088 4.088 0 01-1.833-3.396A4.067 4.067 0 019.438 0c1.221 0 2.352.541 3.114 1.454a8.668 8.668 0 013.136-.579c1.087 0 2.138.194 3.135.579A4.047 4.047 0 0121.937 0 4.067 4.067 0 0126 4.063c0 1.377-.71 2.653-1.834 3.395a8.757 8.757 0 01-.832 6.417zm-13.896-12A2.19 2.19 0 007.25 4.063a2.2 2.2 0 001.414 2.046.938.938 0 01.55 1.193 6.853 6.853 0 00-.402 2.323c0 3.473 2.59 6.352 5.938 6.81V14.33l-.732-.366a.937.937 0 11.839-1.677l.83.416.831-.415a.937.937 0 11.839 1.677l-.732.365v2.107c3.349-.459 5.938-3.338 5.938-6.811 0-.797-.136-1.579-.403-2.323a.938.938 0 01.55-1.193 2.2 2.2 0 001.415-2.046 2.19 2.19 0 00-2.188-2.188c-.82 0-1.564.453-1.943 1.183a.937.937 0 01-1.25.408 6.806 6.806 0 00-3.056-.716 6.806 6.806 0 00-3.058.716.938.938 0 01-1.25-.408 2.182 2.182 0 00-1.943-1.183zm0 22.625a2.816 2.816 0 00-2.813 2.813 2.816 2.816 0 002.813 2.812 2.816 2.816 0 002.812-2.813A2.816 2.816 0 009.437 24.5zm9.687 2.813a2.816 2.816 0 002.813 2.812 2.816 2.816 0 002.812-2.813 2.816 2.816 0 00-2.813-2.812 2.816 2.816 0 00-2.812 2.813zm5.313-7.188h2.875a2.19 2.19 0 002.187-2.188 2.19 2.19 0 00-2.188-2.187H21.93a8.724 8.724 0 01-6.242 2.625 8.724 8.724 0 01-6.243-2.625H4.062a2.19 2.19 0 00-2.187 2.188 2.19 2.19 0 002.188 2.187h2.875c.517 0 .937.42.937.938v1.83a4.66 4.66 0 011.563-.268 4.693 4.693 0 014.687 4.688c0 1.054-.35 2.028-.94 2.812h5.005a4.663 4.663 0 01-.94-2.813 4.693 4.693 0 014.688-4.687 4.66 4.66 0 011.562.269v-1.831c0-.518.42-.938.938-.938zM13.188 9.562a.937.937 0 11-1.875 0 .937.937 0 011.874 0zm6.874 0a.937.937 0 11-1.874 0 .937.937 0 011.875 0z"/>      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--bear:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 32 32" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path fill-rule="evenodd" clip-rule="evenodd" d="M23.334 13.875h3.979a4.067 4.067 0 014.062 4.063A4.067 4.067 0 0127.312 22h-1.937v2.13a4.669 4.669 0 011.25 3.183A4.693 4.693 0 0121.937 32h-12.5a4.693 4.693 0 01-4.687-4.688c0-1.227.475-2.345 1.25-3.182V22H4.062A4.067 4.067 0 010 17.937a4.067 4.067 0 014.063-4.062H8.04a8.755 8.755 0 01-.833-6.417 4.088 4.088 0 01-1.833-3.396A4.067 4.067 0 019.438 0c1.221 0 2.352.541 3.114 1.454a8.668 8.668 0 013.136-.579c1.087 0 2.138.194 3.135.579A4.047 4.047 0 0121.937 0 4.067 4.067 0 0126 4.063c0 1.377-.71 2.653-1.834 3.395a8.757 8.757 0 01-.832 6.417zm-13.896-12A2.19 2.19 0 007.25 4.063a2.2 2.2 0 001.414 2.046.938.938 0 01.55 1.193 6.853 6.853 0 00-.402 2.323c0 3.473 2.59 6.352 5.938 6.81V14.33l-.732-.366a.937.937 0 11.839-1.677l.83.416.831-.415a.937.937 0 11.839 1.677l-.732.365v2.107c3.349-.459 5.938-3.338 5.938-6.811 0-.797-.136-1.579-.403-2.323a.938.938 0 01.55-1.193 2.2 2.2 0 001.415-2.046 2.19 2.19 0 00-2.188-2.188c-.82 0-1.564.453-1.943 1.183a.937.937 0 01-1.25.408 6.806 6.806 0 00-3.056-.716 6.806 6.806 0 00-3.058.716.938.938 0 01-1.25-.408 2.182 2.182 0 00-1.943-1.183zm0 22.625a2.816 2.816 0 00-2.813 2.813 2.816 2.816 0 002.813 2.812 2.816 2.816 0 002.812-2.813A2.816 2.816 0 009.437 24.5zm9.687 2.813a2.816 2.816 0 002.813 2.812 2.816 2.816 0 002.812-2.813 2.816 2.816 0 00-2.813-2.812 2.816 2.816 0 00-2.812 2.813zm5.313-7.188h2.875a2.19 2.19 0 002.187-2.188 2.19 2.19 0 00-2.188-2.187H21.93a8.724 8.724 0 01-6.242 2.625 8.724 8.724 0 01-6.243-2.625H4.062a2.19 2.19 0 00-2.187 2.188 2.19 2.19 0 002.188 2.187h2.875c.517 0 .937.42.937.938v1.83a4.66 4.66 0 011.563-.268 4.693 4.693 0 014.687 4.688c0 1.054-.35 2.028-.94 2.812h5.005a4.663 4.663 0 01-.94-2.813 4.693 4.693 0 014.688-4.687 4.66 4.66 0 011.562.269v-1.831c0-.518.42-.938.938-.938zM13.188 9.562a.937.937 0 11-1.875 0 .937.937 0 011.874 0zm6.874 0a.937.937 0 11-1.874 0 .937.937 0 011.875 0z"/>        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--park {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 44 32" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0a1 1 0 00-1 1v2.268a2 2 0 000 3.464v3.536a2 2 0 000 3.464v3.536a2 2 0 000 3.464v3.536a2 2 0 000 3.464V31a1 1 0 102 0v-3.268c.134-.077.258-.17.37-.274C7.225 28.527 14.387 30 22 30c7.613 0 14.775-1.472 18.63-2.543.112.106.236.198.37.275V31a1 1 0 102 0v-3.268a2 2 0 000-3.464v-3.536a2 2 0 000-3.464v-3.536a2 2 0 000-3.464V6.732a2 2 0 000-3.464V1a1 1 0 10-2 0v2.268c-.47.272-.82.73-.947 1.274C36.345 5.568 29.383 7 22 7 14.617 7 7.655 5.568 3.947 4.542A2.003 2.003 0 003 3.268V1a1 1 0 00-1-1zm1.947 25.542C7.655 26.568 14.617 28 22 28c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 24.268v-3.536a2.006 2.006 0 01-.37-.274C36.775 21.527 29.613 23 22 23c-7.613 0-14.775-1.472-18.63-2.543a2.006 2.006 0 01-.37.275v3.536c.47.272.82.73.947 1.274zM3 17.268c.47.272.82.73.947 1.274C7.655 19.568 14.617 21 22 21c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 17.268v-3.536a2.006 2.006 0 01-.37-.274C36.775 14.527 29.613 16 22 16c-7.613 0-14.775-1.472-18.63-2.543a2.006 2.006 0 01-.37.275v3.536zm.947-5.726C7.655 12.568 14.617 14 22 14c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 10.268V6.732a2.008 2.008 0 01-.37-.275C36.775 7.528 29.613 9 22 9 14.387 9 7.225 7.528 3.37 6.457a2.008 2.008 0 01-.37.275v3.536c.47.272.82.73.947 1.274z"/>      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--park:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 44 32" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path fill-rule="evenodd" clip-rule="evenodd" d="M2 0a1 1 0 00-1 1v2.268a2 2 0 000 3.464v3.536a2 2 0 000 3.464v3.536a2 2 0 000 3.464v3.536a2 2 0 000 3.464V31a1 1 0 102 0v-3.268c.134-.077.258-.17.37-.274C7.225 28.527 14.387 30 22 30c7.613 0 14.775-1.472 18.63-2.543.112.106.236.198.37.275V31a1 1 0 102 0v-3.268a2 2 0 000-3.464v-3.536a2 2 0 000-3.464v-3.536a2 2 0 000-3.464V6.732a2 2 0 000-3.464V1a1 1 0 10-2 0v2.268c-.47.272-.82.73-.947 1.274C36.345 5.568 29.383 7 22 7 14.617 7 7.655 5.568 3.947 4.542A2.003 2.003 0 003 3.268V1a1 1 0 00-1-1zm1.947 25.542C7.655 26.568 14.617 28 22 28c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 24.268v-3.536a2.006 2.006 0 01-.37-.274C36.775 21.527 29.613 23 22 23c-7.613 0-14.775-1.472-18.63-2.543a2.006 2.006 0 01-.37.275v3.536c.47.272.82.73.947 1.274zM3 17.268c.47.272.82.73.947 1.274C7.655 19.568 14.617 21 22 21c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 17.268v-3.536a2.006 2.006 0 01-.37-.274C36.775 14.527 29.613 16 22 16c-7.613 0-14.775-1.472-18.63-2.543a2.006 2.006 0 01-.37.275v3.536zm.947-5.726C7.655 12.568 14.617 14 22 14c7.383 0 14.345-1.432 18.053-2.458A2.003 2.003 0 0141 10.268V6.732a2.008 2.008 0 01-.37-.275C36.775 7.528 29.613 9 22 9 14.387 9 7.225 7.528 3.37 6.457a2.008 2.008 0 01-.37.275v3.536c.47.272.82.73.947 1.274z"/>        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--pool {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 36 32" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M31.658 24.368c.767-.382 1.635-.814 3.296-.814a1.055 1.055 0 010 2.11c-1.164 0-1.69.261-2.354.593-.767.382-1.635.815-3.296.815-1.661 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594-1.164 0-1.69.262-2.355.594-.766.382-1.634.815-3.295.815-1.66 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594-1.164 0-1.689.262-2.354.594-.766.382-1.635.815-3.295.815-1.661 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594a1.055 1.055 0 010-2.11c1.66 0 2.529.433 3.295.815.665.332 1.19.594 2.355.594 1.164 0 1.689-.262 2.354-.594.645-.321 1.364-.68 2.567-.784V9.854H1.055a1.055 1.055 0 010-2.11h10.57V3.168A3.17 3.17 0 0114.792 0a3.17 3.17 0 013.164 3.167v4.578h4.325V3.167A3.17 3.17 0 0125.445 0a3.17 3.17 0 013.165 3.167v4.578h6.344a1.055 1.055 0 010 2.11H24.39v13.73c1.199.105 1.915.462 2.56.783.665.332 1.19.594 2.354.594 1.164 0 1.69-.262 2.354-.594zm-9.378-8.594h-8.544v3.523h8.544v-3.523zM25.445 2.11c-.582 0-1.055.474-1.055 1.057v4.578h2.11V3.167c0-.583-.473-1.057-1.055-1.057zm-10.654 0c-.582 0-1.055.474-1.055 1.057v4.578h2.11V3.167c0-.583-.474-1.057-1.055-1.057zm7.49 11.554v-3.81h-8.545v3.81h8.544zm-4.277 11.298c1.164 0 1.69-.262 2.354-.594.521-.26 1.09-.542 1.922-.697v-2.264h-8.544v2.265c.828.155 1.394.438 1.914.696.665.332 1.19.594 2.354.594zm13.654 4.335c.767-.382 1.635-.815 3.296-.815a1.055 1.055 0 010 2.11c-1.164 0-1.69.262-2.355.593-.766.382-1.634.815-3.295.815s-2.53-.433-3.296-.815c-.665-.331-1.19-.593-2.354-.593-1.164 0-1.69.262-2.354.593-.767.382-1.635.815-3.296.815-1.66 0-2.529-.433-3.295-.815-.666-.331-1.19-.593-2.355-.593-1.164 0-1.689.262-2.354.593-.766.382-1.635.815-3.295.815-1.661 0-2.53-.433-3.296-.815-.665-.331-1.19-.593-2.354-.593a1.055 1.055 0 010-2.11c1.66 0 2.529.433 3.295.815.665.331 1.19.593 2.355.593 1.164 0 1.689-.262 2.354-.593.766-.382 1.635-.815 3.295-.815 1.661 0 2.53.433 3.296.815.665.331 1.19.593 2.354.593 1.164 0 1.69-.262 2.354-.593.766-.382 1.635-.815 3.296-.815 1.66 0 2.529.433 3.295.815.665.331 1.19.593 2.355.593 1.164 0 1.69-.262 2.354-.593z"/>      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--pool:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 36 32" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.658 24.368c.767-.382 1.635-.814 3.296-.814a1.055 1.055 0 010 2.11c-1.164 0-1.69.261-2.354.593-.767.382-1.635.815-3.296.815-1.661 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594-1.164 0-1.69.262-2.355.594-.766.382-1.634.815-3.295.815-1.66 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594-1.164 0-1.689.262-2.354.594-.766.382-1.635.815-3.295.815-1.661 0-2.53-.433-3.296-.815-.665-.332-1.19-.594-2.354-.594a1.055 1.055 0 010-2.11c1.66 0 2.529.433 3.295.815.665.332 1.19.594 2.355.594 1.164 0 1.689-.262 2.354-.594.645-.321 1.364-.68 2.567-.784V9.854H1.055a1.055 1.055 0 010-2.11h10.57V3.168A3.17 3.17 0 0114.792 0a3.17 3.17 0 013.164 3.167v4.578h4.325V3.167A3.17 3.17 0 0125.445 0a3.17 3.17 0 013.165 3.167v4.578h6.344a1.055 1.055 0 010 2.11H24.39v13.73c1.199.105 1.915.462 2.56.783.665.332 1.19.594 2.354.594 1.164 0 1.69-.262 2.354-.594zm-9.378-8.594h-8.544v3.523h8.544v-3.523zM25.445 2.11c-.582 0-1.055.474-1.055 1.057v4.578h2.11V3.167c0-.583-.473-1.057-1.055-1.057zm-10.654 0c-.582 0-1.055.474-1.055 1.057v4.578h2.11V3.167c0-.583-.474-1.057-1.055-1.057zm7.49 11.554v-3.81h-8.545v3.81h8.544zm-4.277 11.298c1.164 0 1.69-.262 2.354-.594.521-.26 1.09-.542 1.922-.697v-2.264h-8.544v2.265c.828.155 1.394.438 1.914.696.665.332 1.19.594 2.354.594zm13.654 4.335c.767-.382 1.635-.815 3.296-.815a1.055 1.055 0 010 2.11c-1.164 0-1.69.262-2.355.593-.766.382-1.634.815-3.295.815s-2.53-.433-3.296-.815c-.665-.331-1.19-.593-2.354-.593-1.164 0-1.69.262-2.354.593-.767.382-1.635.815-3.296.815-1.66 0-2.529-.433-3.295-.815-.666-.331-1.19-.593-2.355-.593-1.164 0-1.689.262-2.354.593-.766.382-1.635.815-3.295.815-1.661 0-2.53-.433-3.296-.815-.665-.331-1.19-.593-2.354-.593a1.055 1.055 0 010-2.11c1.66 0 2.529.433 3.295.815.665.331 1.19.593 2.355.593 1.164 0 1.689-.262 2.354-.593.766-.382 1.635-.815 3.295-.815 1.661 0 2.53.433 3.296.815.665.331 1.19.593 2.354.593 1.164 0 1.69-.262 2.354-.593.766-.382 1.635-.815 3.296-.815 1.66 0 2.529.433 3.295.815.665.331 1.19.593 2.355.593 1.164 0 1.69-.262 2.354-.593z"/>        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--hotel {
  background: url('data:image/svg+xml,      <svg width="45" height="33" viewBox="0 0 45 32" fill="%23e3bf77" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.717 11.11l5.782-5.782 5.783 5.783-5.783 5.782-5.782-5.782zm-1.414 1.415a2 2 0 010-2.828l5.782-5.783a2 2 0 012.829 0l5.782 5.783a2 2 0 010 2.828l-5.783 5.783a2 2 0 01-2.828 0l-5.782-5.783zm19.525-1.414l5.783-5.783 5.782 5.783-5.782 5.782-5.783-5.782zm-1.414 1.414a2 2 0 010-2.828l5.782-5.783a2 2 0 012.829 0l5.782 5.783a2 2 0 010 2.828l-5.782 5.783a2 2 0 01-2.829 0l-5.782-5.783z" />      <path d="M0 16a2 2 0 012-2h41a2 2 0 012 2v7a1 1 0 01-1 1H1a1 1 0 01-1-1v-7z" fill="%23ffffff"/>      <path fill-rule="evenodd" clip-rule="evenodd" d="M41 2H4v12h37V2zM2 2v12a2 2 0 00-2 2v7a1 1 0 001 1h1v4a1 1 0 001 1h1v2a1 1 0 102 0v-2h33v2a1 1 0 102 0v-2h1a1 1 0 001-1v-4h1a1 1 0 001-1v-7a2 2 0 00-2-2V2a2 2 0 00-2-2H4a2 2 0 00-2 2zm39 22H4v3h37v-3zm1-2h1v-6H2v6h40z" />      </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-menu__btn--hotel:hover {
  background: url('data:image/svg+xml,        <svg width="45" height="33" viewBox="0 0 45 32" fill="%23ffffff" xmlns="http://www.w3.org/2000/svg">        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.717 11.11l5.782-5.782 5.783 5.783-5.783 5.782-5.782-5.782zm-1.414 1.415a2 2 0 010-2.828l5.782-5.783a2 2 0 012.829 0l5.782 5.783a2 2 0 010 2.828l-5.783 5.783a2 2 0 01-2.828 0l-5.782-5.783zm19.525-1.414l5.783-5.783 5.782 5.783-5.782 5.782-5.783-5.782zm-1.414 1.414a2 2 0 010-2.828l5.782-5.783a2 2 0 012.829 0l5.782 5.783a2 2 0 010 2.828l-5.782 5.783a2 2 0 01-2.829 0l-5.782-5.783z" />        <path d="M0 16a2 2 0 012-2h41a2 2 0 012 2v7a1 1 0 01-1 1H1a1 1 0 01-1-1v-7z" fill="%23e3bf77"/>        <path fill-rule="evenodd" clip-rule="evenodd" d="M41 2H4v12h37V2zM2 2v12a2 2 0 00-2 2v7a1 1 0 001 1h1v4a1 1 0 001 1h1v2a1 1 0 102 0v-2h33v2a1 1 0 102 0v-2h1a1 1 0 001-1v-4h1a1 1 0 001-1v-7a2 2 0 00-2-2V2a2 2 0 00-2-2H4a2 2 0 00-2 2zm39 22H4v3h37v-3zm1-2h1v-6H2v6h40z" />        </svg>') no-repeat;
  background-position: 10% 50%;
}

.sidebar-social {
  width: 300px;
  height: 111px;
  margin-bottom: 53px;
}

.sidebar-social__item {
  font-weight: 600;
  color: #929292;
  display: flex;
  align-items: center;
  width: 300px;
  margin-bottom: 35px;
}

.sidebar-social__link-name {
  opacity: 0;
  transition: 0.2s;
}

.sidebar-social__link {
  width: 100px;
  height: 20px;
}

.sidebar-social__link--vk {
  background: url('data:image/svg+xml,      <svg width="50" height="12" viewBox="0 0 22 12" fill="%232D2D2D" xmlns="http://www.w3.org/2000/svg">      <path opacity="0.4" d="M21.8833 10.8373C21.8567 10.7824 21.8319 10.7369 21.8088 10.7004C21.4271 10.0432 20.6977 9.23652 19.621 8.28012L19.5982 8.25822L19.5868 8.24748L19.5753 8.23647H19.5638C19.0751 7.79113 18.7657 7.49169 18.6361 7.33838C18.399 7.04634 18.3459 6.75074 18.4754 6.45122C18.567 6.22492 18.9109 5.74701 19.5064 5.01684C19.8196 4.62987 20.0676 4.31973 20.2508 4.08607C21.572 2.40687 22.1448 1.33383 21.9691 0.86655L21.9008 0.757352C21.855 0.691611 21.7366 0.63147 21.5459 0.576621C21.3548 0.521888 21.1105 0.512837 20.8126 0.549313L17.5138 0.571098C17.4604 0.552994 17.3841 0.554682 17.2846 0.576621C17.1853 0.598561 17.1357 0.609569 17.1357 0.609569L17.0783 0.636993L17.0327 0.66994C16.9945 0.691726 16.9525 0.730043 16.9066 0.784815C16.861 0.839395 16.8229 0.903448 16.7924 0.976438C16.4332 1.8598 16.0249 2.68111 15.5666 3.44032C15.284 3.89303 15.0245 4.28536 14.7876 4.61756C14.5509 4.94964 14.3523 5.19431 14.1921 5.35115C14.0316 5.50813 13.8868 5.6339 13.7567 5.72891C13.6269 5.82395 13.5277 5.86411 13.4591 5.84942C13.3903 5.83473 13.3255 5.82016 13.2641 5.80558C13.1573 5.73984 13.0714 5.65043 13.0066 5.53728C12.9415 5.42414 12.8977 5.28172 12.8748 5.11016C12.852 4.93848 12.8385 4.79081 12.8346 4.66666C12.8311 4.54265 12.8327 4.36725 12.8405 4.14095C12.8484 3.91454 12.852 3.76135 12.852 3.68104C12.852 3.40357 12.8576 3.10244 12.869 2.77757C12.8805 2.4527 12.8899 2.1953 12.8977 2.00567C12.9055 1.81585 12.9091 1.61502 12.9091 1.4033C12.9091 1.19157 12.8956 1.02553 12.869 0.905021C12.8427 0.784661 12.8023 0.667831 12.749 0.554567C12.6955 0.441418 12.6171 0.353891 12.5142 0.291756C12.4111 0.229696 12.283 0.180448 12.1305 0.143857C11.7257 0.0562913 11.2103 0.00892239 10.584 0.00155814C9.16374 -0.0130169 8.25114 0.0746635 7.84641 0.264485C7.68605 0.344686 7.54094 0.454267 7.41119 0.592884C7.2737 0.753555 7.25452 0.841236 7.35378 0.855658C7.81203 0.921284 8.13643 1.07827 8.32736 1.32647L8.39617 1.45799C8.44969 1.55288 8.50313 1.72088 8.55661 1.96175C8.61001 2.20262 8.64447 2.46908 8.65963 2.76096C8.69775 3.29399 8.69775 3.75027 8.65963 4.12983C8.6214 4.50955 8.58529 4.80516 8.55083 5.01688C8.51637 5.2286 8.46485 5.40016 8.39617 5.53153C8.32736 5.66294 8.28159 5.74325 8.25864 5.7724C8.23573 5.80155 8.21663 5.81993 8.20147 5.82714C8.10221 5.8635 7.99898 5.88202 7.89214 5.88202C7.78515 5.88202 7.6554 5.83086 7.5027 5.7286C7.35005 5.62635 7.19161 5.48589 7.0274 5.307C6.86319 5.12807 6.678 4.87803 6.47175 4.55684C6.26565 4.23565 6.05181 3.85605 5.83035 3.41803L5.64713 3.10037C5.53259 2.89601 5.37612 2.59845 5.17757 2.20796C4.97889 1.8173 4.80329 1.43943 4.65063 1.0744C4.58961 0.921091 4.49794 0.804376 4.37577 0.72406L4.31844 0.691112C4.28033 0.661962 4.21915 0.631009 4.13522 0.598024C4.05117 0.565076 3.96346 0.541449 3.87175 0.526912L0.733227 0.548699C0.412511 0.548699 0.194901 0.61816 0.0803196 0.756892L0.0344628 0.822518C0.0115545 0.859071 0 0.917448 0 0.997803C0 1.07812 0.0229083 1.17669 0.0687651 1.29341C0.526932 2.32287 1.02518 3.3157 1.5635 4.27205C2.10183 5.22841 2.56963 5.99878 2.96661 6.58247C3.36367 7.16659 3.7684 7.71787 4.18079 8.23605C4.59318 8.75443 4.86616 9.08662 4.99972 9.23256C5.13343 9.37878 5.23847 9.48809 5.31482 9.56108L5.60123 9.82385C5.7845 9.9991 6.05362 10.209 6.40872 10.4535C6.7639 10.6982 7.15711 10.939 7.58856 11.1765C8.02009 11.4136 8.5221 11.607 9.09489 11.7567C9.6676 11.9064 10.225 11.9665 10.7672 11.9375H12.0845C12.3517 11.9155 12.5541 11.8352 12.6917 11.6966L12.7372 11.6417C12.7679 11.5981 12.7966 11.5304 12.8231 11.4393C12.8499 11.3481 12.8632 11.2475 12.8632 11.1382C12.8554 10.8243 12.8803 10.5414 12.9375 10.2896C12.9946 10.0378 13.0596 9.84802 13.1324 9.72018C13.2052 9.59245 13.2872 9.48467 13.3786 9.3973C13.4701 9.30974 13.5354 9.25669 13.5737 9.23843C13.6117 9.22006 13.6421 9.20759 13.665 9.20012C13.8482 9.14174 14.0639 9.19827 14.3123 9.36999C14.5606 9.54156 14.7934 9.75339 15.0111 10.0052C15.2288 10.2572 15.4903 10.5399 15.7957 10.8537C16.1013 11.1677 16.3685 11.4011 16.5975 11.5546L16.8265 11.686C16.9794 11.7737 17.178 11.854 17.4224 11.927C17.6663 12 17.8801 12.0182 18.0636 11.9818L20.9959 11.938C21.2859 11.938 21.5116 11.8921 21.6717 11.801C21.8321 11.7098 21.9273 11.6093 21.9581 11.4999C21.9887 11.3904 21.9904 11.2662 21.9639 11.1274C21.9367 10.9889 21.91 10.8921 21.8833 10.8373Z" />      </svg>') center no-repeat;
}

.sidebar-social__link--inst {
  background: url('data:image/svg+xml,      <svg width="18" height="18" viewBox="0 0 18 18" fill="%23ABABAB" xmlns="http://www.w3.org/2000/svg">      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3534 0H4.70839C2.11219 0 0 2.11229 0 4.70849V12.3535C0 14.9498 2.11219 17.062 4.70839 17.062H12.3534C14.9498 17.062 17.062 14.9497 17.062 12.3535V4.70849C17.0621 2.11229 14.9498 0 12.3534 0ZM15.5483 12.3535C15.5483 14.1151 14.1151 15.5482 12.3535 15.5482H4.70839C2.94691 15.5483 1.51382 14.1151 1.51382 12.3535V4.70849C1.51382 2.94701 2.94691 1.51382 4.70839 1.51382H12.3534C14.115 1.51382 15.5482 2.94701 15.5482 4.70849V12.3535H15.5483ZM8.53121 4.13477C6.10697 4.13477 4.13477 6.10697 4.13477 8.53121C4.13477 10.9553 6.10697 12.9275 8.53121 12.9275C10.9554 12.9275 12.9277 10.9553 12.9277 8.53121C12.9277 6.10697 10.9554 4.13477 8.53121 4.13477ZM8.53121 11.4135C6.9418 11.4135 5.64859 10.1205 5.64859 8.53111C5.64859 6.9416 6.9417 5.64849 8.53121 5.64849C10.1207 5.64849 11.4138 6.9416 11.4138 8.53111C11.4138 10.1205 10.1206 11.4135 8.53121 11.4135ZM12.3279 3.1761C12.5339 2.96921 12.8204 2.85114 13.1121 2.85114C13.4048 2.85114 13.6914 2.96921 13.8973 3.1761C14.1041 3.38198 14.2222 3.6686 14.2222 3.96127C14.2222 4.25294 14.1041 4.53955 13.8973 4.74644C13.6904 4.95232 13.4048 5.07141 13.1121 5.07141C12.8204 5.07141 12.5338 4.95232 12.3279 4.74644C12.121 4.53955 12.002 4.25304 12.002 3.96127C12.002 3.6686 12.1209 3.38198 12.3279 3.1761Z"/>      </svg>') center no-repeat;
}

.sidebar-social__link--fb {
  background: url('data:image/svg+xml,      <svg width="9" height="17" viewBox="0 0 9 17" fill="%23ABABAB" xmlns="http://www.w3.org/2000/svg">      <path d="M1.9453 3.29236C1.9453 3.72077 1.9453 5.63293 1.9453 5.63293H0V8.49498H1.9453V17H5.94137V8.49522H8.62291C8.62291 8.49522 8.87405 7.12288 8.99579 5.62237C8.64677 5.62237 5.95648 5.62237 5.95648 5.62237C5.95648 5.62237 5.95648 3.95732 5.95648 3.66547C5.95648 3.37299 6.39217 2.97956 6.82279 2.97956C7.25261 2.97956 8.15978 2.97956 9 2.97956C9 2.58989 9 1.24348 9 1.02236e-08C7.87833 1.02236e-08 6.60224 1.02236e-08 6.03974 1.02236e-08C1.84652 -0.000197613 1.9453 2.8647 1.9453 3.29236Z" />      </svg>') center no-repeat;
}

.page {
  margin: 0 auto;
  padding-left: 100px;
  overflow: hidden;
}

.home {
  height: 100vh;
  color: #ffffff;
}

.home-slider {
  position: relative;
  height: 100%;
}

.home-slider__btns {
  margin-top: 40px;
}

.home-background {
  position: absolute;
  block-size: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: 0;
}

.container {
  min-width: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  font-size: 14px;
  font-weight: 600;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  top: 40px;
  width: calc(100vw - 117px);
  position: absolute;
  z-index: 2;
}

.header__menu {
  margin-top: 30px;
}

.header__section {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.header-wrap {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap {
  display: flex;
}

.wrap--mt40 {
  margin-top: 40px;
}

.wrap--mt80 {
  margin-top: 80px;
}

.wrap--ml724 {
  margin-left: 724px;
}

.wrap--title {
  font-size: 30px;
  font-weight: 700;
  line-height: 20px;
  justify-content: space-between;
  align-items: center;
}

.numbers-phone {
  display: block;
  width: 121px;
}

.first-number {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
}

.second-number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.header__uds {
  margin-right: 50px;
}

.logo-bnb {
  position: relative;
  min-width: 107px;
  min-height: 55px;
  max-height: 56px;
  z-index: 0;
}

.header__basket {
  display: flex;
  align-items: center;
  width: 27px;
  height: 27px;
}

.basket {
  width: 18.5px;
  height: 18.5px;
}

.background-counter {
  display: flex;
  position: relative;
  width: 17px;
  height: 18px;
  top: -30px;
  right: -10px;
  justify-content: center;
  align-items: center;
  background: url("../img/icons/header/bgcounter.svg") center no-repeat;
  color: white;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  width: 17px;
}

.btn {
  padding: 0 30px;
  font-weight: 600;
  border-radius: 63px;
  font-size: 14px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}

.btn--yellow {
  border: 2px solid #e3bf77;
}

.btn--yellow--mob {
  display: none;
  margin-top: 30px;
  width: 100%;
}

.btn--yellow:hover {
  background-color: #e3bf77;
  color: #ffffff;
}

.btn--grey {
  border: 2px solid #808080;
  margin-left: 30px;
}

.btn--grey:hover {
  background-color: #808080;
}

.btn--white {
  max-width: 200px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn--white:hover {
  background-color: #ffffff;
  color: #e3bf77;
}

.btn-slider {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  border: 2px solid #e3bf77;
  border-radius: 19px;
  justify-content: center;
  margin-right: 20px;
  transition: 0.2s;
}

.btn-slider:hover {
  background-color: #e3bf77;
}

.btn-slider:nth-child(2) {
  margin-right: 0;
}

.dot {
  width: 10px;
  height: 17px;
  margin: 0 5px 0 5px;
  background: url("../img/icons/header/Rectangle.svg") no-repeat center;
}

.swiper-slide__service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}

.service {
  position: relative;
}

.service__name {
  display: block;
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 25px;
}

.service__description {
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 45px;
}

.service__schedule {
  display: flex;
  margin-bottom: 40px;
}

.schedule {
  margin-right: 40px;
}

.schedule__working-day {
  display: block;
  font-size: 12px;
  line-height: 15px;
  color: #acacac;
  font-weight: 700;
}

.schedule__working-hours {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 112px;
}

.services-navigation {
  position: absolute;
  width: calc(100vw - 117px);
  bottom: 60px;
  height: 10vh;
  z-index: 1;
}

.services-menu {
  height: 100%;
  align-items: flex-end;
}

.services-menu__item {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  opacity: 0.5;
  margin-right: 30px;
  width: calc(100% / 6);
}

.services-menu__item:nth-child(6n) {
  margin-right: 0;
}

.services-menu__item:hover {
  opacity: 1;
  transition: 0.2s;
}

.services-menu__item--active {
  opacity: 1;
  transition: 0.2s;
}

.services-menu--mob {
  display: none;
}

.item-name {
  margin-top: 17px;
  font-size: 14px;
  font-weight: 600;
}

.swiper-pagination-bullet {
  width: 80px;
  display: inline-block;
  border-radius: 50%;
  background-color: unset;
  border: unset;
}

.background-bullet {
  display: none;
  width: calc(100% / 6);
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0;
  outline: none;
  margin-right: 30px;
  transition: 0.2s;
  padding-top: 45px;
}

.background-bullet:nth-child(6) {
  margin-right: 0;
}

.background-bullet:hover {
  opacity: 1;
}

.background-bullet1 {
  background: url("../img/icons/bottommenu/rest.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet1::before {
  content: "Ресторан";
}

.background-bullet2 {
  background: url("../img/icons/bottommenu/mic.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet2::before {
  content: "Караоке";
}

.background-bullet3 {
  background: url("../img/icons/bottommenu/bear.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet3::before {
  content: "Детский клуб";
}

.background-bullet4 {
  background: url("../img/icons/bottommenu/park.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet4::before {
  content: "Веревочный парк";
}

.background-bullet5 {
  background: url("../img/icons/bottommenu/pool.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet5::before {
  content: "Бассейн";
}

.background-bullet6 {
  background: url("../img/icons/bottommenu/hotel.svg") no-repeat;
  border-bottom: 2px solid #ffffff;
}

.background-bullet6::before {
  content: "Отель";
}

.item-name {
  margin-bottom: 10px;
}

.events {
  padding: 80px 0;
  background: #f9f9f9;
}

.events--mob {
  display: none;
}

.events-slider {
  margin-top: 40px;
}

.events-slider--mob {
  margin-top: 40px;
}

.events-item {
  font-size: 16px;
  max-width: 359px;
}

.events-item__img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 15px;
  transition: 0.2s;
}

.events-item__name::after {
  content: url("../img/icons/events/sudabrown.svg");
  margin-left: 13px;
  transition: 0.3s;
}

.events-item:hover .events-item__name::after {
  content: url("../img/icons/events/sudabrown.svg");
  margin-left: 25px;
}

.events-item:hover .events-item__img {
  box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.445);
}

.events-scroll {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 38px;
  height: 4px;
  background: #0000000b;
}

.swiper-scrollbar-drag {
  width: 74px;
  height: 6px;
  background-color: #e3bf77;
  cursor: pointer;
}

.halls {
  width: 100%;
  padding: 120px 0;
}

.halls-menu {
  border-bottom: 2px solid rgba(0, 0, 0, 0.06);
  margin-top: 45px;
  display: flex;
  color: rgba(45, 45, 45, 0.5);
  font-weight: 600;
  font-size: 16px;
  position: relative;
}

.halls-menu__item {
  margin-right: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}

.halls-menu__item--active {
  color: #e3bf77;
  opacity: 1;
}

.halls-menu__point {
  position: absolute;
  left: 0;
  bottom: -2px;
  background: #e3bf77;
  height: 2px;
  transition: 0.2s;
  transform: scaleY(0);
}

.halls-menu--ready {
  transform: scaleY(1);
}

.halls-tabs {
  width: 100%;
  flex-wrap: wrap;
  margin-top: 54px;
  display: none;
}

.halls-tabs--show {
  display: flex;
  justify-content: space-between;
}

.halls-tabs__tab {
  display: flex;
  margin-bottom: 30px;
  padding: 40px;
  width: 48.6%;
  height: 320px;
  border-radius: 4px;
  justify-content: space-between;
  flex-direction: column;
}

.halls-tabs__tab:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.445);
}

.halls-tabs__tab--big-hall {
  background: url("../img/halls/big-hall.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--gold-room {
  background: url("../img/halls/gold-room.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--greenhouse {
  background: url("../img/halls/greehouse.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--living-room {
  background: url("../img/halls/living-room.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--loft {
  background: url("../img/halls/loft.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--nest {
  background: url("../img/halls/nest.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--hollow {
  background: url("../img/halls/hollow.jpg") center no-repeat;
  background-size: cover;
}

.halls-tabs__tab--cockatoo {
  background: url("../img/halls/cockatoo.jpg") center no-repeat;
  background-size: cover;
}

.hall-capacity {
  height: 26px;
  display: flex;
  background: #e3bf77b2;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  border-radius: 4px;
  align-items: center;
  width: 95px;
  justify-content: center;
}

.hall-name {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}

.hall-description {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 10px;
  line-height: 21px;
}

.delivery {
  padding: 150px 0;
  background: url("../img/delivery/delivery.png") #e3bf77;
  background-size: cover;
  color: #ffffff;
  background-position: 80%;
}

.delivery-description {
  max-width: 710px;
  font-size: 20px;
  font-weight: 400px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 250px;
}

.photo-reports {
  padding: 120px 0;
}

.photo-reports__item {
  margin-right: 30px;
  height: 295px;
  border-radius: 4px;
  padding: 40px;
  width: 359px;
  transition: 0.2s;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

.photo-reports__item:hover {
  box-shadow: 0 15px 30px -10px black;
}

.photo-reports__item--item1 {
  background: url("../img/photo-reports/birthday.jpg") center no-repeat;
  background-size: cover;
}

.photo-reports__item--item2 {
  background: url("../img/photo-reports/graduation-school.jpg") center no-repeat;
  background-size: cover;
}

.photo-reports__item--item3 {
  background: url("../img/photo-reports/9may.jpg") center no-repeat;
  background-size: cover;
}

.photo-reports__item:nth-child(3) {
  margin-right: 0;
}

.photo-reports__slider {
  display: none;
}

.report-date {
  display: block;
  opacity: 0.7;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 5px;
}

.report-description {
  display: block;
  line-height: 24px;
}

.footer {
  padding: 40px 0;
  background: #2d2d2d;
  color: #ffffff;
  width: 100%;
}

.footer__numbers-phone {
  display: block;
  width: 121px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-wrap__item {
  margin-right: 30px;
}

.footer-wrap__item:nth-child(4) {
  margin-right: 0;
}

.footer-text {
  display: block;
  font-size: 14px;
  font-weight: 400;
  width: 261px;
  line-height: 21px;
}

.request-call {
  margin-top: 44px;
  display: block;
}

.request-call__ico {
  margin-right: 13px;
}

.footer-social {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-subscribe {
  width: 100%;
  color: #ffffff50;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
  border-bottom: 2px solid #ffffff50;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-subscribe__btn {
  margin-bottom: 10px;
  padding: 0;
  width: 38px;
  height: 38px;
  transition: 0.2s;
  background: url('data:image/svg+xml,    <svg width="38" height="38" fill="none" xmlns="http://www.w3.org/2000/svg">    <circle cx="19" cy="19" r="18" stroke="%23E3BF77" stroke-width="2"/>    <path fill-rule="evenodd" clip-rule="evenodd" d="M23.879 17.121a1 1 0 10-1.414-1.414l-4.244 4.244-2.1-2.1a1 1 0 00-1.414 1.415l2.806 2.806a1 1 0 001.416-.001l4.95-4.95z" fill="%23fff"/>    </svg>') center no-repeat;
}

.footer-subscribe__btn:hover {
  background: url('data:image/svg+xml,      <svg width="38" height="38" fill="%23E3BF77" xmlns="http://www.w3.org/2000/svg">      <circle cx="19" cy="19" r="18" stroke="%23E3BF77" stroke-width="2"/>      <path fill-rule="evenodd" clip-rule="evenodd" d="M23.879 17.121a1 1 0 10-1.414-1.414l-4.244 4.244-2.1-2.1a1 1 0 00-1.414 1.415l2.806 2.806a1 1 0 001.416-.001l4.95-4.95z" fill="%23fff"/>      </svg>') center no-repeat;
}

input[type="text"] {
  background: #ffffff00;
  color: #ffffff;
  position: absolute;
}

input[type="text"]:hover ~ .input-text {
  margin-bottom: 25px;
}

input[type="text"]:focus ~ .input-text {
  margin-bottom: 25px;
}

.input-text {
  margin-bottom: 2px;
  transition: 0.3s;
}

.under-footer {
  background: #262626;
  width: 100%;
  padding: 20px;
  color: #ffffff80;
}

.under-footer__wrap {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.under-footer__link {
  border-bottom: 1px solid #ffffff80;
  margin-left: 40px;
}